<app-user-navbar></app-user-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12" >
            <div class="card  bg-info mt-5"  >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="http://hellohservices.com/uploads/mainsite/images/testimonials/1731161014713533.png" width="70%" class=" " alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" >
                      <h5 class="card-title">Name :{{userData[0].name}}</h5>
                      <p class="card-text">Date : {{userData[0].date}}<br>Email ID :  {{userData[0].email}} <br>Phone : {{userData[0].phone}} <br> Address :  {{userData[0].address}} </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>